<div class="main clearfix ">
    <div>
        <h4 style="text-align: center;">Наши работы</h4>
        <div><span>Бизнес-центр Прео 8</span></div>
        <div>
            <div align="center">
                <img style="width: 285px; max-width: 285px;" src="https://scontent.fhel5-1.fna.fbcdn.net/v/t1.0-9/21314381_1454130741303109_5036849333120017996_n.jpg?oh=27ee84e5330930b59b089a980db1d12d&oe=5AD0AA6C"/>
            </div>
            <p>
                Наши объекты!
                Все жестяные работы+теплоизоляция вертикальных проемов внутри, и все жестяные работы снаружи, делали наши мастера!
            </p>
            <p align="left">
                <a href="#" style="color: #2C9F5C">Подробнее</a>
            </p>
        </div>

    </div>

</div>