@{
    ViewBag.Title = "Построенные Нами Объекты";
}

<div id="aq-template-wrapper-7697" class="aq-template-wrapper aq_row">

    <div id="aq-block-7843-3" class="aq-block aq-block-aq_start_content_block aq_span12 aq-first cf">
        <style scoped="">
            .mainwrap.rand-329 #headerwrap {
                background: #ffffff !important;
            }
        </style>
        <div class="mainwrap rand-329      " style="background: #ffffff url() 50% 0; background-size: cover; border-top: 5px solid #eeeeee; border-bottom: 5px solid #eeeeee; padding: 0px 0 0px 0;">
            <div class="main clearfix ">
                <div class="content fullwidth">
                </div>
                <div id="aq-block-7843-4" class="aq-block aq-block-pmc_wp_breadcrumb_block aq_span12 aq-first cf">
                    <div class="outerpagewrap">
                        <style scoped="">
                            .pagewrap a, .pagewrap h1, .pagewrap h1 span, .pagewrap p {
                                color: #333333;
                            }
                        </style>
                        <div class="pagewrap" style="">
                            <div class="pagecontent">
                                <div class="pagecontentContent-title">

                                    <h1>@ViewBag.Title</h1>

                                </div>


                                <div class="pagecontentContent-breadcrumb">
                                    <p><a href="/">Строительная компания ЮГОС</a> » <span>@ViewBag.Title</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="aq-block-7843-5" class="aq-block aq-block-aq_end_content_block aq_span12 aq-first cf"> </div>
            </div>


        </div>
    </div>

</div>

<div class="mainwrap blog">
    <div class="main clearfix">
        <div class="pad"></div>
        <div class="content blog">

            <div class="slider-category">

                <div class="blogpostcategory">
                    <div class="fluid-width-video-wrapper" style="padding-top: 61.25%;"><iframe src="https://www.youtube.com/embed/niD2fl7TWzA?feature=oembed" frameborder="0" allowfullscreen="" id="fitvid331819"></iframe></div>
                    <div class="bottomborder"></div>
                    <div class="entry">
                        <div class="meta">
                            <div class="topLeftBlog">
                                <h2 class="title"><a href="http://vkgdom.com/tehnologii-stroitelstva/karkasnoe-stroitelstvo/otzyv-o-kompanii-viking-viktor-i-marina/" rel="bookmark" title="Permanent Link to Отзыв — Виктор и Марина">Отзыв — Виктор и Марина</a></h2>

                                <div class="post-meta">
                                  <div class="post-icon"><i class="fa fa-video-camera"></i></div>	<span>Сентябрь 20, 2016</span>
<span><em><a href="http://vkgdom.com/category/tehnologii-stroitelstva/karkasnoe-stroitelstvo/">Каркасное строительство</a>, <a href="http://vkgdom.com/category/otzyvy/">Отзывы</a>, <a href="http://vkgdom.com/category/postroennye-nami-obekty/">Построенные нами объекты</a></em></span> <a href="#commentform">Комментариев нет</a>
                                </div>
                            </div>

                            <div class="blogContent">
                                <div class="blogcontent"></div>
                                <a class="blogmore" href="/publication/1">Читать далее </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- sidebar -->
      <div class="sidebar">

        <div class="widget category_posts">
          <h3>Популярные записи</h3>
          <div class="widget-line"></div>

          <div class="widgett">
            <div class="imgholder">
              <a href="/publication/1" rel="bookmark" title="Дом в Лисицино">
                <img src="http://vkgdom.com/wp-content/uploads/2016/06/16-1-90x60.jpg" alt="Дом в Лисицино">
              </a>
            </div>
            <div class="wttitle"><h4><a href="/publication/1" rel="bookmark" title="Дом в Лисицино">Дом в Лисицино</a></h4>
            </div>
          </div>

        </div>

      </div>
    </div>

</div>