@{
    ViewBag.Title = "Строительная компания ЮГОС | Контакты";
}

<div id="aq-template-wrapper-7697" class="aq-template-wrapper aq_row">

    <div id="aq-block-7843-3" class="aq-block aq-block-aq_start_content_block aq_span12 aq-first cf">
        <style scoped="">
            .mainwrap.rand-329 #headerwrap {
                background: #ffffff !important;
            }
        </style>

        <div class="mainwrap rand-329      " style="background: #ffffff url() 50% 0; background-size: cover; border-top: 5px solid #eeeeee; border-bottom: 5px solid #eeeeee; padding: 0px 0 0px 0;">
            <div class="main clearfix ">
                <div class="content fullwidth">
                </div>
                <div id="aq-block-7843-4" class="aq-block aq-block-pmc_wp_breadcrumb_block aq_span12 aq-first cf">
                    <div class="outerpagewrap">
                        <style scoped="">
                            .pagewrap a, .pagewrap h1, .pagewrap h1 span, .pagewrap p {
                                color: #333333;
                            }
                        </style>
                        <div class="pagewrap" style="">
                            <div class="pagecontent">
                                <div class="pagecontentContent-title">

                                    <h1>О компании</h1>

                                </div>


                                <div class="pagecontentContent-breadcrumb">
                                    <p><a href="/">Строительная компания ЮГОС</a> » <span>О компании</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="aq-block-7843-5" class="aq-block aq-block-aq_end_content_block aq_span12 aq-first cf"> </div>
            </div>


        </div>
    </div>

    <div id="aq-block-7697-6" class="aq-block aq-block-aq_start_content_block aq_span12 aq-first cf">

        <style scoped="">
            .mainwrap.rand-440 #headerwrap {
                background: #fff !important;
            }
        </style>

        <div class="mainwrap rand-440      " style="background: #fff 50% 0; background-size: cover; border-top: 0px solid #fff; border-bottom: 0px solid #fff; padding: 0px 0 0px 0;">

            <div class="main clearfix ">

                <div class="content fullwidth"></div>

                <div id="aq-block-7697-7" class="aq-block aq-block-aq_clear_block aq_span12 aq-first cf">
                    <div class="cf" style="height: 40px; background: #fff"></div>
                </div>

                <div id="aq-block-7697-10" class="aq-block aq-block-aq_column_block aq_span10  cf">

                    <div id="aq-block-7697-11" class="aq-block aq-block-aq_richtext_block aq_span12 aq-first cf">
                        <h2>Строительная компания ЮГОС</h2>
                        <p class="viking">Мы строим деревянные дома для постоянного проживания, бани, беседки и хозяйственные постройки с 2010 года.</p>
                        <p class="viking">В первую очередь компания ЮГОС - это команда профессионалов. Опыт нашей работы показал, что качество дома в основном зависит от трех вещей: квалификация строителей, качество применяемых материалов и умение слышать заказчика. Как мы сочетаем в себе эти вещи:</p>
                    </div>

                </div>

                <div id="aq-block-7697-12" class="aq-block aq-block-aq_richtext_block aq_span12 aq-first cf">

                    <ol class="viking">
                        <li>Практически любая строительная компания хвалится высококвалифицированными бригадами, но полагаться только на квалификацию бригады рискованно, ведь на конечный результат может повлиять человеческий фактор. Благодаря собственному производству, на котором предварительно заготавливаются домокомплекты по технологии pre-cut, детально проработанным архитектурным проектам и еженедельному авторскому надзору на стройке, мы сводим влияние человеческого фактора практически до 0.</li>
                        <li>
                            В России нет недостатка древесины, но качество пиломатериала зависит от зоны и времени вырубки леса, стандартов обработки, условий хранения и т.д. Компания ЮГОС предъявляет жесткие требования к поставщикам пиломатериала. Отобранный по качеству материал проходит дополнительную подготовку на нашем производстве:
                            <ul class="viking">
                                <li>древесина проходит этап сушки, что сокращает содержание влаги с 80 до 16% - это делает её более устойчивым ко внешним факторам (растрескивание, грибок, гниение, короед и т.д.) и значительно увеличивает срок службы дома.</li>
                                <li>в столярном цеху высушенный пиломатериал подвергается механической обработке. Убираются все неровности и заготавливаются детали домокомплекта.</li>
                                <li>полученные заготовки проходят обработку огнебиозащитным составом в специальных камерах. Это делает дерево огнестойким и невосприимчивым к бактериям и насекомым.</li>
                                <li>полученный домокомплект упаковывается в защитную пленку и отправляется на строительную площадку. Пленка исключает воздействие внешних факторов в момент транспортировки домокомплекта.</li>
                            </ul>
                        </li>
                        <li>Выбрать подрядчика для строительства своего будущего дома непросто. Мы понимаем, что для каждого из нас важно соблюдение сроков, качественный результат, фиксированная цена и длительный срок службы дома. Высокое качество построенных нами домов гарантируется прямым сотрудничеством с ведущими производителями строительных материалов и соблюдением технологии подготовки древесины на производстве. Мы работаем по официальному договору, в котором жестко определены цена, сроки и ответственность за их нарушение. В договоре фиксируется техническое задание, в котором прописаны объемы и наименование используемых материалов. Также приложена проектная документация, разработанная совместно с архитектором.</li>
                    </ol>

                    <h3 class="viking">Почему стоит работать с нами:</h3>

                    <ul class="viking">
                        <li>Гарантия на дома - 5 лет</li>
                        <li>Собственное производство</li>
                        <li>Бесплатная консультация архитектора</li>
                        <li>Широкий выбор проработанных проектов</li>
                        <li>Официальный договор</li>
                        <li>Фиксированная цена</li>
                        <li>Контроль качества пиломатериала</li>
                        <li>Технология подготовки древесины</li>
                        <li>Еженедельный авторский надзор</li>
                        <li>Осуществляем поддержку клиента после сдачи дома</li>
                    </ul>

                </div>

                <div id="aq-block-7697-13" class="aq-block aq-block-aq_clear_block aq_span12 aq-first cf">
                    <div class="cf" style="height: 40px; background: #fff"></div>
                </div>

                <div id="aq-block-7697-14" class="aq-block aq-block-aq_end_content_block aq_span12 aq-first cf"> </div>

            </div>

        </div>

    </div>

</div>
