@{
    ViewBag.Title = "Строительная компания ЮГОС | Контакты";
}

<div id="aq-template-wrapper-7697" class="aq-template-wrapper aq_row">

    <div id="aq-block-7843-3" class="aq-block aq-block-aq_start_content_block aq_span12 aq-first cf">
        <style scoped="">
            .mainwrap.rand-329 #headerwrap {
                background: #ffffff !important;
            }
        </style>

        <div class="mainwrap rand-329      " style="background: #ffffff url() 50% 0; background-size: cover; border-top: 5px solid #eeeeee; border-bottom: 5px solid #eeeeee; padding: 0px 0 0px 0;">
            <div class="main clearfix ">
                <div class="content fullwidth">
                </div>
                <div id="aq-block-7843-4" class="aq-block aq-block-pmc_wp_breadcrumb_block aq_span12 aq-first cf">
                    <div class="outerpagewrap">
                        <style scoped="">
                            .pagewrap a, .pagewrap h1, .pagewrap h1 span, .pagewrap p {
                                color: #333333;
                            }
                        </style>
                        <div class="pagewrap" style="">
                            <div class="pagecontent">
                                <div class="pagecontentContent-title">

                                    <h1>О компании</h1>

                                </div>


                                <div class="pagecontentContent-breadcrumb">
                                    <p><a href="/">Строительная компания ЮГОС</a> » <span>О компании</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="aq-block-7843-5" class="aq-block aq-block-aq_end_content_block aq_span12 aq-first cf"> </div>
            </div>


        </div>
    </div>

    <div id="aq-block-7697-6" class="aq-block aq-block-aq_start_content_block aq_span12 aq-first cf">

        <style scoped="">
            .mainwrap.rand-440 #headerwrap {
                background: #fff !important;
            }
        </style>

        <div class="mainwrap rand-440      " style="background: #fff 50% 0; background-size: cover; border-top: 0px solid #fff; border-bottom: 0px solid #fff; padding: 0px 0 0px 0;">

            <div class="main clearfix ">

                <div class="content fullwidth"></div>

                <div id="aq-block-7697-7" class="aq-block aq-block-aq_clear_block aq_span12 aq-first cf">
                    <div class="cf" style="height: 40px; background: #fff"></div>
                </div>

                
                    <div id="aq-block-7697-11" class="aq-block aq-block-aq_richtext_block aq_span12 aq-first cf">
                        <h2>Строительная компания ЮГОС</h2>
                        <p class="viking">Грамотно выполненная кровля – это не только гарантированное спасение от осадков и высокие показатели теплоизоляции. Внутреннее ощущение защищенности и уюта всех обитателей дома зависят от отсутствия проблем с жилищем. С помощью крыши очень легко подчеркнуть индивидуальность здания или добавить ему шарм. На протяжении нескольких лет компания «ЮГОС» радует своих клиентов не просто качественным выполнением широчайшего спектра кровельных работ, а индивидуальными проектными решениями для воплощения самых разных по сложности архитектурных замыслов. Мы предлагаем все виды кровельных материалов по самым привлекательным ценам.</p>

                       
                            <h2 class="viking">Почему стоит работать с нами:</h2>

                            <ul class="viking">
                                <li>Гарантия на кровлю - 7 лет</li>

                                <li>Бесплатная консультация архитектора</li>
                                <li>Широкий выбор проработанных проектов</li>
                                <li>Официальный договор</li>
                                <li>Фиксированная цена</li>
                                <li>Контроль качества пиломатериала</li>
                                <li>Технология подготовки древесины</li>
                                <li>Еженедельный авторский надзор</li>
                                <li>Осуществляем поддержку клиента после сдачи объекта</li>
                            </ul>

                        <p class="viking" >
                            <h2 class="viking">Предлагаем:</h2>
                            Мы предлагаем вам услуги по устройству, монтажу, ремонту и реконструкции абсолютно любых кровель. Наши мастера и качественные материалы - гарантия высочайшего качества выполнения всего комплекса работ: от разработки проектной документации до отделки карнизной части кровли. Вам больше не нужно тратить время на поиски специалистов для выполнения каждой стадии устройства крыши. Наши кровельщики знают все тонкости работ, как с элитными покрытиями, так и с материалами эконом класса. Более подробную информацию о перечне наших услуг и их стоимость вы найдете в разделе сайта «Кровельные работы». Наши менеджеры всегда ответят на любой ваш вопрос. Чтобы оценить объем работ, специалист прибудет на объект в строго оговоренное, удобное для вас время.
                            Мы с одинаковой ответственностью подходим к воплощению каждого задания. Мы подарим вашему дому уют и тепло на долгие годы!
                        </p>
                    </div>
                   

                <div id="aq-block-7697-13" class="aq-block aq-block-aq_clear_block aq_span12 aq-first cf">
                    <div class="cf" style="height: 40px; background: #fff"></div>
                </div>

                <div id="aq-block-7697-14" class="aq-block aq-block-aq_end_content_block aq_span12 aq-first cf"> </div>

            </div>

        </div>

    </div>

</div>
