

<div class="usercontent">

    <div id="aq-template-wrapper-9726" class="aq-template-wrapper aq_row">

        <div id="aq-block-9726-4" class="aq-block aq-block-aq_start_content_block aq_span12 aq-first cf">
            <style scoped="">
                .mainwrap.rand-398 #headerwrap {
                    background: #fff !important;
                }
            </style>
            <div class="mainwrap rand-398      " style="background: #fff url() 50% 0; background-size: cover; border-top: 0px solid #fff; border-bottom: 0px solid #fff; padding: 0px 0 0px 0;">
                <div class="main clearfix ">
                    <div class="content fullwidth">
                    </div>
                    <div id="aq-block-9726-5" class="aq-block aq-block-aq_title_border_block aq_span12 aq-first cf">
                        <div class="titletext ">О НАС </div>
                        <div class="border-block" id="aboutviking">
                            <div class="title-block-wrap">
                                <h2 style="color: #333333" class="titleborderh2">Строительная компания ЮГОС</h2>
                                <div class="titleborderOut">
                                    <div class="titleborder "></div>
                                </div>
                            </div>
                            <div id="aq-block-9726-6" class="aq-block aq-block-aq_clear_block aq_span12 aq-first cf">
                                <div class="cf" style="height: 65px; background: #fff"></div>
                            </div>
                            <div id="aq-block-9726-7" class="aq-block aq-block-aq_richtext_block aq_span6 aq-first cf">
                                <p style="font-size: 16px; line-height: 30px; text-align: left;">
                                    Мы - команда высококвалифицированных специалистов в области строительства деревянных домов. <a style="color: #2c9f5c;" title="Скандинавская технология строительства" href="#" target="_blank"><strong>Скандинавская технология</strong></a> является основой, которая позволяет нам возводить надёжные дома, подходящие для нашего сурового климата. Наша цель - помочь Вам воплотить мечту о загородном доме, который будет отвечать всем Вашим требованиям. Даже после окончания строительства мы будем <a style="color: #2c9f5c;" href="#"><strong>следить за состоянием Вашего дома</strong></a>.
                                </p>
                            </div>
                            <div id="aq-block-9726-8" class="aq-block aq-block-aq_richtext_block aq_span6  cf">
                                <p style="color: #333333; font-size: 13px; font-family: Roboto, 'Times New Roman', 'Bitstream Charter', Times, serif;"></p>
                                <div class="progressbar ui-widget ui-widget-content ui-corner-all ui-progressbar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                    <div style="width: 95%; background-color: #00A059" class="ui-progressbar-value ui-widget-header ui-corner-left">
                                        <div class="progressbar-title">СКАНДИНАВСКАЯ ТЕХНОЛОГИЯ</div>
                                    </div>
                                    <div class="ui-progressbar-value ui-widget-header ui-corner-left" style="display: none; width: 0%;"></div>
                                </div>
                                <p></p>
                                <p style="color: #333333; font-size: 13px; font-family: Roboto, 'Times New Roman', 'Bitstream Charter', Times, serif;"></p>
                                <div class="progressbar ui-widget ui-widget-content ui-corner-all ui-progressbar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                    <div style="width: 90%; background-color: #00A059" class="ui-progressbar-value ui-widget-header ui-corner-left">
                                        <div class="progressbar-title">КАРКАСНАЯ ТЕХНОЛОГИЯ</div>
                                    </div>
                                    <div class="ui-progressbar-value ui-widget-header ui-corner-left" style="display: none; width: 0%;"></div>
                                </div>
                                <p></p>
                                <p style="color: #333333; font-size: 13px; font-family: Roboto, 'Times New Roman', 'Bitstream Charter', Times, serif;"></p>
                                <div class="progressbar ui-widget ui-widget-content ui-corner-all ui-progressbar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                    <div style="width: 70%; background-color: #00A059" class="ui-progressbar-value ui-widget-header ui-corner-left">
                                        <div class="progressbar-title">ДОМА ИЗ БРУСА</div>
                                    </div>
                                    <div class="ui-progressbar-value ui-widget-header ui-corner-left" style="display: none; width: 0%;"></div>
                                </div>
                                <p></p>
                            </div>
                            <div id="aq-block-9726-9" class="aq-block aq-block-aq_clear_block aq_span12 aq-first cf">
                                <div class="cf" style="height: 60px; background: #fff"></div>
                            </div>
                            <div id="aq-block-9726-10" class="aq-block aq-block-aq_richtext_block aq_span12 aq-first cf">
                                <h3>Что мы можем вам предложить</h3>
                            </div>
                            <div id="aq-block-9726-11" class="aq-block aq-block-aq_clear_block aq_span12 aq-first cf">
                                <div class="cf" style="height: 40px; background: #fff"></div>
                            </div>
                            <div id="aq-block-9726-12" class="aq-block aq-block-aq_column_block aq_span4 aq-first cf">
                                <div id="aq-block-9726-13" class="aq-block aq-block-aq_richtext_block aq_span4 aq-first cf">
                                    <img style="width: 100%; height: auto;" src="~/Content/imgaes/dom.jpg" alt="Дома для постоянного проживания в Москве"><br>
                                    <h6 style="margin: 10px 0;"><strong>Дома для постоянного проживания</strong></h6>
                                    Грамотно спланированные и уютные дома, полностью подходящие для постоянного проживания всей семьей.
                                </div>
                            </div>
                            <div id="aq-block-9726-14" class="aq-block aq-block-aq_column_block aq_span4  cf">
                                <div id="aq-block-9726-15" class="aq-block aq-block-aq_richtext_block aq_span4 aq-first cf">
                                    <img style="width: 100%; height: auto;" src="~/Content/imgaes/banja.jpg" alt="Деревянные бани в Москве">
                                    <h6 style="margin: 10px 0;"><strong>Бани</strong></h6>
                                    Лучшее место для отдыха и поднятия настроения. Настоящая русская баня поможет быть здоровым вам и всей вашей семье.
                                </div>
                            </div>
                            <div id="aq-block-9726-16" class="aq-block aq-block-aq_column_block aq_span4  cf">
                                <div id="aq-block-9726-17" class="aq-block aq-block-aq_richtext_block aq_span4 aq-first cf">
                                    <img style="width: 100%; height: auto;" src="~/Content/imgaes/dacha.jpg" alt="Беседки, веранды, летние кухни, хозяйственные постройки в Москве">
                                    <h6 style="margin: 10px 0;"><strong>Дачные дома</strong></h6>
                                    Классические дачные дома, подходящие как для летнего, так и для круглогодичного проживания, по самым выгодным ценам.
                                </div>
                            </div>
                            <div id="aq-block-9726-18" class="aq-block aq-block-aq_clear_block aq_span12 aq-first cf">
                                <div class="cf" style="height: 20px; background: #fff"></div>
                            </div>
                            <div id="aq-block-9726-19" class="aq-block aq-block-aq_title_border_block_end aq_span12 aq-first cf"></div>
                        </div>
                    </div>
                    <div id="aq-block-9726-20" class="aq-block aq-block-aq_end_content_block aq_span12 aq-first cf"> </div>
                </div>


            </div>
        </div>

        <div class="aq-block aq-block-aq_start_content_block aq_span12 aq-first cf">
            <style scoped="">
                .mainwrap.rand-519 #headerwrap {
                    background: #fff !important;
                }
            </style>
            <div class="mainwrap rand-519 pmc_parallax     " style="background: url(&quot;/Content/imgaes/slideshow-stormy-3.jpg&quot;) 50% 138px/cover rgb(255, 255, 255); border-top: 0px solid rgb(255, 255, 255); border-bottom: 0px solid rgb(255, 255, 255); padding: 40px 0px 85px;">
                <div class="main clearfix ">
                    <div class="content fullwidth">
                    </div>
                    <div class="aq-block aq-block-aq_title_border_block aq_span12 aq-first cf">
                        <div class="border-block" id="funfacts">
                            <div class="title-block-wrap">
                                <div class="titletext margintitle"> </div>
                            </div>
                            <div id="aq-block-9726-22" class="aq-block aq-block-pmc_prebuild_start_title_small aq_span12 aq-first cf">
                                <div id="aq-block-9726-23" class="aq-block aq-block-aq_richtext_block aq_span12 aq-first cf">
                                    <p style="color: #333333; font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; font-size: 13px; line-height: 19px;"></p>
                                    <div class="break clearfix">&nbsp;</div>
                                    <p></p>
                                    <p style="color: #333333; font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; font-size: 13px; line-height: 19px;"></p>
                                    <div class="one_fourth">
                                        <p></p>
                                        <p style="color: #333333; font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; font-size: 13px; line-height: 19px;"></p>
                                        <div class="pmc-count-simple" style="background-color: #fff; color: #2a2b2c">
                                            <div class="pmc-count-icon">
                                                <i class="fa fa-home"></i>
                                            </div>
                                            <div id="number-159" class="pmc-count-number number-animate done" style="opacity: 1;">312</div><span class="pmc-number-span"></span><div class="pmc-count-number-border"></div>
                                            <div class="pmc-count-text">ПОСТРОЕННЫХ ДОМОВ И БАНЬ</div>
                                        </div>
                                        <p></p>
                                        <p style="color: #333333; font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; font-size: 13px; line-height: 19px;"></p>
                                    </div>
                                    <p></p>
                                    <p style="color: #333333; font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; font-size: 13px; line-height: 19px;"></p>
                                    <div class="one_fourth">
                                        <p></p>
                                        <p style="color: #333333; font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; font-size: 13px; line-height: 19px;"></p>
                                        <div class="pmc-count-simple" style="background-color: #fff; color: #2a2b2c">
                                            <div class="pmc-count-icon">
                                                <i class="fa fa-certificate"></i>
                                            </div>
                                            <div id="number-52" class="pmc-count-number number-animate done" style="opacity: 1;">15</div><span class="pmc-number-span"></span><div class="pmc-count-number-border"></div>
                                            <div class="pmc-count-text">ЛЕТ ГАРАНТИИ</div>
                                        </div>
                                        <p></p>
                                        <p style="color: #333333; font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; font-size: 13px; line-height: 19px;"></p>
                                    </div>
                                    <p></p>
                                    <p style="color: #333333; font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; font-size: 13px; line-height: 19px;"></p>
                                    <div class="one_fourth">
                                        <p></p>
                                        <p style="color: #333333; font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; font-size: 13px; line-height: 19px;"></p>
                                        <div class="pmc-count-simple" style="background-color: #fff; color: #2a2b2c">
                                            <div class="pmc-count-icon">
                                                <i class="fa fa-users"></i>
                                            </div>
                                            <div id="number-811" class="pmc-count-number number-animate done" style="opacity: 1;">287</div><span class="pmc-number-span"></span><div class="pmc-count-number-border"></div>
                                            <div class="pmc-count-text">ДОВОЛЬНЫХ КЛИЕНТОВ</div>
                                        </div>
                                        <p></p>
                                        <p style="color: #333333; font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; font-size: 13px; line-height: 19px;"></p>
                                    </div>
                                    <p></p>
                                    <p style="color: #333333; font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; font-size: 13px; line-height: 19px;"></p>
                                    <div class="one_fourth last">
                                        <p></p>
                                        <p style="color: #333333; font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; font-size: 13px; line-height: 19px;"></p>
                                        <div class="pmc-count-simple" style="background-color: #fff; color: #2a2b2c">
                                            <div class="pmc-count-icon">
                                                <i class="fa fa-thumbs-up"></i>
                                            </div>
                                            <div id="number-235" class="pmc-count-number number-animate done" style="opacity: 1;">92</div><span class="pmc-number-span"> %</span><div class="pmc-count-number-border"></div>
                                            <div class="pmc-count-text">РЕКОМЕНДУЮТ НАС</div>
                                        </div>
                                        <p></p>
                                        <p style="color: #333333; font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; font-size: 13px; line-height: 19px;"></p>
                                    </div>
                                    <p></p>
                                </div>
                            </div>
                            <div class="aq-block aq-block-aq_end_content_block aq_span12 aq-first cf">
                            </div>
                        </div>
                    </div>
                    <div class="aq-block aq-block-aq_end_content_block aq_span12 aq-first cf">
                    </div>
                </div>


            </div>
        </div>

        <div class="aq-block aq-block-aq_clear_block aq_span12 aq-first cf">

            <div class="cf" style="height: 95px; background: #fff"></div>
        </div>

        <div class="aq-block aq-block-aq_start_content_block aq_span12 aq-first cf">
            <style scoped="">
                .mainwrap.rand-350 #headerwrap {
                    background: #fff !important;
                }
            </style>
            <div class="mainwrap rand-350" style="background: #fff url() 50% 0; background-size: cover; border-top: 0px solid #fff; border-bottom: 0px solid #fff; padding: 0px 0 0px 0;">
                <div class="main clearfix ">
                    <div class="content fullwidth">
                    </div>
                    <div class="aq-block aq-block-aq_title_border_block aq_span12 aq-first cf">
                        <div class="titletext ">ЧТО МЫ ДЕЛАЕМ </div>
                        <div class="border-block" id="services">
                            <div class="title-block-wrap">
                                <h2 style="color: #333333" class="titleborderh2">КАКИЕ УСЛУГИ МЫ ОКАЗЫВАЕМ</h2>
                                <div class="titleborderOut">
                                    <div class="titleborder "></div>
                                </div>
                            </div>
                            <div id="aq-block-9726-37" class="aq-block aq-block-pmc_prebuild_start_title_small aq_span12 aq-first cf">
                                <div id="aq-block-9726-38" class="aq-block aq-block-aq_richtext_block aq_span12 aq-first cf">
                                    <p></p>
                                    <div class="one_half">
                                        <p></p>
                                        <p></p>
                                        <div id="rand-468" class="pmc-animate pmc-animated pmc-icon fadeInUp animated">
                                            <div style="border-color: #2C9F5C; background: #2C9F5C" class="pmc-icon-icon small left">
                                                <i class="fa fa-laptop"></i>
                                            </div>
                                            <div class="pmc-icon-wraper left small">
                                                <div class="pmc-icon-title">Проектирование деревянных домов</div>
                                                <div class="pmc-icon-border"></div>
                                                <div class="pmc-icon-content">Поможем Вам реализовать все пожелания и требования к дому или бесплатно внесем изменени в один из наших готовых проектов.</div>
                                            </div>
                                        </div>
                                        <p></p>
                                        <p></p>
                                        <div id="rand-705" class="pmc-animate pmc-animated pmc-icon fadeInUp animated">
                                            <div style="border-color: #2C9F5C; background: #2C9F5C" class="pmc-icon-icon small left">
                                                <i class="fa fa-home"></i>
                                            </div>
                                            <div class="pmc-icon-wraper left small">
                                                <div class="pmc-icon-title">Строительство деревянных домов и бань</div>
                                                <div class="pmc-icon-border"></div>
                                                <div class="pmc-icon-content">Построим теплый дом и баню Вашей мечты, полностью подходящие для суровой русской зимы.</div>
                                            </div>
                                        </div><br><br>
                                        <div id="rand-5666" class="pmc-animate pmc-animated pmc-icon fadeInUp animated">
                                            <div style="border-color: #2C9F5C; background: #2C9F5C" class="pmc-icon-icon small left">
                                                <i class="fa fa-cog"></i>
                                            </div>
                                            <div class="pmc-icon-wraper left small">
                                                <div class="pmc-icon-title">Монтаж инженерных систем</div>
                                                <div class="pmc-icon-border"></div>
                                                <div class="pmc-icon-content">Разработаем проект инженерных коммуникаций и воплотим его в жизнь, соблюдая все нормативы и стандарты качества.</div>
                                            </div>
                                        </div>
                                        <p></p>
                                        <p></p>
                                        <div id="rand-3382" class="pmc-animate pmc-animated pmc-icon fadeInUp animated">
                                            <div style="border-color: #2C9F5C; background: #2C9F5C" class="pmc-icon-icon small left">
                                                <i class="fa fa-gears"></i>
                                            </div>
                                            <div class="pmc-icon-wraper left small">
                                                <div class="pmc-icon-title">Техническое&nbsp;обслуживание домов</div>
                                                <div class="pmc-icon-border"></div>
                                                <div class="pmc-icon-content">После окончания строительтсва наши специалисты будут проводить ежегодное техническое обслуживание Вашего дома.</div>
                                            </div>
                                        </div>
                                        <p></p>
                                        <p></p>
                                    </div>
                                    <p></p>
                                    <p></p>
                                    <div class="one_half last">
                                        <br><br>
                                        <p></p>
                                        <p></p>
                                        <div class="pmc-image fadeInUp pmc-animated animated" id="rand-659">
                                            <a target="" href="/">
                                                <div class="img">
                                                    <img src="/Content/imgaes/mainbg2-1.jpg" alt="img">
                                                </div>
                                                <div class="info">
                                                    <div class="image-over">
                                                        <div class="image-icon">
                                                            <i class="fa fa-picture-o"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <p></p>
                                        <p></p>
                                    </div>
                                    <p></p>
                                </div>
                            </div>
                            <div class="aq-block aq-block-aq_end_content_block aq_span12 aq-first cf">
                            </div>
                        </div>
                    </div>
                    <div class="aq-block aq-block-aq_end_content_block aq_span12 aq-first cf">
                    </div>
                </div>


            </div>
        </div>

        <div class="aq-block aq-block-aq_clear_block aq_span12 aq-first cf">

            <div class="cf" style="height: 95px; background: #fff"></div>
        </div>

        @*<div class="aq-block aq-block-aq_start_content_block aq_span12 aq-first cf">
            <style scoped="">
                .mainwrap.rand-546 #headerwrap {
                    background: #fff !important;
                }
            </style>

            <div class="mainwrap rand-546 " style="background: #fff url() 50% 0; background-size: cover; border-top: 0px solid #fff; border-bottom: 0px solid #fff; padding: 0px 0 0px 0;">

                <div class="main clearfix ">
                    <div class="content fullwidth"></div>

                    <div class="aq-block aq-block-aq_title_border_block aq_span12 aq-first cf">
                        <div class="titletext "> </div>

                        <div class="border-block">
                            <div class="title-block-wrap">
                                <h2 style="color: #333333" class="titleborderh2">Команда ЮГОС</h2>
                                <div class="titleborderOut">
                                    <div class="titleborder "></div>
                                </div>
                            </div>

                            <div id="aq-block-9726-32" class="aq-block aq-block-pmc_prebuild_start_title_small aq_span12 aq-first cf">

                                <div id="aq-block-9726-33" class="aq-block aq-block-aq_clear_block aq_span12 aq-first cf">
                                    <div class="cf" style="height: 60px; background: #fff"></div>
                                </div>

                                <div id="aq-block-9726-34" class="aq-block aq-block-aq_team_block aq_span3 aq-first cf">

                                    <div class="team-wrapper">
                                        <div class="team">
                                            <div class="image" style="background: none;">
                                                <img src="http://vkgdom.com/wp-content/uploads/2013/12/fedorov-1.jpg" alt="team" style="display: inline;">
                                            </div>
                                            <div class="title">Алексей Федоров</div>

                                            <div class="role">Ведущий менеджер</div>
                                            <div class="description">
                                                <p>Человек-локомотив. Он лично следит за тем, чтобы Вы остались довольны.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div id="aq-block-9726-35" class="aq-block aq-block-aq_team_block aq_span3  cf">
                                    <div class="team-wrapper">
                                        <div class="team">
                                            <div class="image" style="background: none;">
                                                <img src="http://vkgdom.com/wp-content/uploads/2013/12/holstov-1.jpg" alt="team" style="display: inline;">
                                            </div>
                                            <div class="title">Вячеслав Холстов</div>

                                            <div class="role">Архитектор</div>
                                            <div class="description">
                                                <p>Помогает реализовывать мечты людей о собственном доме. Учитывает все капризы.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div id="aq-block-9726-36" class="aq-block aq-block-aq_team_block aq_span3  cf">
                                    <div class="team-wrapper">
                                        <div class="team">
                                            <div class="image" style="background: none;">
                                                <img src="http://vkgdom.com/wp-content/uploads/2013/12/prokhorov-1.jpg" alt="team" style="display: inline;">
                                            </div>
                                            <div class="title">Никита Прохоров</div>

                                            <div class="role">Менеджер по рекламе</div>
                                            <div class="description">
                                                <p>Делает так, чтобы Вы узнавали о лучших предложениях компании самыми первыми.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div id="aq-block-9726-37" class="aq-block aq-block-aq_team_block aq_span3  cf">
                                    <div class="team-wrapper">
                                        <div class="team">
                                            <div class="image" style="background: none;">
                                                <img src="http://vkgdom.com/wp-content/uploads/2013/12/chichina.jpg" alt="team" style="display: inline;">
                                            </div>
                                            <div class="title">Надежда Чичина</div>

                                            <div class="role">Менеджер отдела продаж</div>
                                            <div class="description">
                                                <p>Поможет подобрать проект по Вашим пожеланиям, а так же будет сопровождать Вас до передачи ключей</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div id="aq-block-9726-38" class="aq-block aq-block-aq_clear_block aq_span12 aq-first cf">
                                    <div class="cf" style="height: 25px; background: #fff"></div>
                                </div>

                            </div>


                            <div class="aq-block aq-block-aq_end_content_block aq_span12 aq-first cf">
                            </div>
                        </div>

                    </div>

                    <div class="aq-block aq-block-aq_end_content_block aq_span12 aq-first cf"></div>
                </div>

            </div>
        </div>*@

        <div class="aq-block aq-block-aq_start_content_block aq_span12 aq-first cf">
            <style scoped="">
                .mainwrap.rand-566 #headerwrap {
                    background: #121212 !important;
                }
            </style>
            <div class="mainwrap rand-566 " style="background: #121212 url() 50% 0; background-size: cover; border-top: 0px solid #fff; border-bottom: 0px solid #fff; padding: 25px 0 25px 0;">
                <div class="main clearfix ">
                    <div class="content fullwidth" align="center">
                        <div class="titletext" style="padding-bottom: 5px;">Мы в соцсетях</div>
                    </div>
                    <div id="aq-block-9726-57" class="aq-block aq-block-pmc_prebuild_start_small aq_span12 aq-first cf">
                        <div id="aq-block-9726-58" class="aq-block aq-block-aq_social_block aq_span12 aq-first cf">
                            <div class="builder-social">
                                <a target="_blank" href="https://www.facebook.com/skyugos" title="Facebook"><img src="~/Content/imgaes/facebook-social-bottom2.png" alt="Facebook"></a>
                                <a target="_blank" href="https://vk.com/public135032650" title="Vkontakte"><img src="~/Content/imgaes/vk.svg" alt="Vkontakte"></a>
                               @* <a target="_blank" href="mailto:test@test.com" title="Email"><img src="~/Content/imgaes/email-social-bottom2.png" alt="Email"></a>*@
                            </div>
                        </div>
                    </div>
                    <div class="aq-block aq-block-aq_end_content_block aq_span12 aq-first cf">
                    </div>
                </div>


            </div>
        </div>

    </div>

</div>


