@{
    ViewBag.Title = "Строительная компания ЮГОС | Прайс-лист";
}

<div id="aq-template-wrapper-7697" class="aq-template-wrapper aq_row">

    <div id="aq-block-7843-3" class="aq-block aq-block-aq_start_content_block aq_span12 aq-first cf">
        <style scoped="">
            .mainwrap.rand-329 #headerwrap {
                background: #ffffff !important;
            }
        </style>

        <div class="mainwrap rand-329      " style="background: #ffffff url() 50% 0; background-size: cover; border-top: 5px solid #eeeeee; border-bottom: 5px solid #eeeeee; padding: 0px 0 0px 0;">
            <div class="main clearfix ">
                <div class="content fullwidth">
                </div>
                <div id="aq-block-7843-4" class="aq-block aq-block-pmc_wp_breadcrumb_block aq_span12 aq-first cf">
                    <div class="outerpagewrap">
                        <style scoped="">
                            .pagewrap a, .pagewrap h1, .pagewrap h1 span, .pagewrap p {
                                color: #333333;
                            }
                        </style>
                        <div class="pagewrap" style="">
                            <div class="pagecontent">
                                <div class="pagecontentContent-title">

                                    <h1>Прайс-лист монтаж</h1>

                                </div>


                                <div class="pagecontentContent-breadcrumb">
                                    <p><a href="/">Строительная компания ЮГОС</a> » <span>Прайс-лист монтаж</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="aq-block-7843-5" class="aq-block aq-block-aq_end_content_block aq_span12 aq-first cf"> </div>
            </div>


        </div>
    </div>

    <div id="aq-block-7697-6" class="aq-block aq-block-aq_start_content_block aq_span12 aq-first cf">

        <style scoped="">
            .mainwrap.rand-440 #headerwrap {
                background: #fff !important;
            }
        </style>

        <div class="mainwrap rand-440      " style="background: #fff 50% 0; background-size: cover; border-top: 0px solid #fff; border-bottom: 0px solid #fff; padding: 0px 0 0px 0;">

            <div class="main clearfix ">

                <div class="content fullwidth"></div>

                <div id="aq-block-7697-7" class="aq-block aq-block-aq_clear_block aq_span12 aq-first cf">
                    <div class="cf" style="height: 40px; background: #fff"></div>
                </div>

                <div id="aq-block-7697-10" class="aq-block aq-block-aq_column_block aq_span10  cf">

                    <div id="aq-block-7697-11" class="aq-block aq-block-aq_richtext_block aq_span12 aq-first cf">
                        
                        <div class="viking">
                            <h6>Кровельные работы:</h6>
                            <div style="font-style: italic;">
                                Цены на кровельные работы не являются окончательными и могут измениться как в сторону увеличения, так и в сторону уменьшения. Цена на монтаж кровли складывается из различных факторов: сложности кровли, высоты дома, объема работ, климатических условий и др. Окончательную цену по предварительному звонку или электронной заявке Вам помогут рассчитать наши специалисты.
                            </div>

                        
                        </div>

                    <table align="center" border="1px solid red;" style="width: 100%;">
                    
                    <tbody>

                    <tr>
                        <td style="text-align: center;"><strong><em>Кровельные работы&nbsp;</em></strong></td>
                        <td><strong><em>Ед. измерения</em></strong></td>
                        <td style="text-align: center;"><strong><em>Расценка</em></strong></td>
                    </tr>


                    <tr>
                        <td>Монтаж сланцевой кровли</td>
                        <td>м.кв.</td>
                        <td>от 1500 руб.</td>
                    </tr>

                    <tr>
                        <td>Монтаж фальцевой кровли (медь)</td>
                        <td>м.кв.</td>
                        <td>по договоренности</td>
                    </tr>

                    <tr>
                        <td>Монтаж фальцевой кровли (алюминий, цинк-титан)</td>
                        <td>м.кв. </td>
                        <td>по договоренности</td>
                    </tr>

                    <tr>
                        <td>Монтаж фальцевой кровли (рулонная сталь)</td>
                        <td>м.кв.</td>
                        <td>от 1000 руб.</td>
                    </tr>

                    <tr>
                        <td>Монтаж натуральной керамической черепицы</td>
                        <td>м.кв.</td>
                        <td>от 550 руб.</td>
                    </tr>

                    <tr>
                        <td>Монтаж цементно-песчаной черепицы</td>
                        <td>м.кв.</td>
                        <td>от 550 руб.</td>
                    </tr>

                    <tr>
                        <td>Монтаж композитной черепицы</td>
                        <td> м.кв</td>
                        <td>от 450 руб</td>
                    </tr>

                    <tr>
                        <td>Монтаж гибкой черепицы</td>
                        <td>м.кв.</td>
                        <td>от 400 руб.</td>
                    </tr>

                    <tr>
                        <td>Монтаж металлочерепицы</td>
                        <td>м.кв.</td>
                        <td>от 400 руб.</td>
                    </tr>

                    <tr>
                        <td>
                            <p>Монтаж систем безопасности на кровле: снегозадержателей, ограждений</p>
                        </td>
                        <td>м.п.</td>
                        <td>
                            от 1000 руб.
                        </td>
                    </tr>

                    <tr>
                        <td>Устройство примыканий</td>
                        <td>м.п.</td>
                        <td>от 600 руб.</td>
                    </tr>

                    <tr>
                        <td>Устройство ендов
                        </td>
                        <td>
                            м.п.
                        </td>
                        <td>
                            от 600 руб.
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Устройство коньков: подконструкция, аэроэлемент, коньковая черепица
                        </td>
                        <td>
                            м.п.
                        </td>
                        <td>
                            от 450 руб.
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Устройство карнизного свеса
                        </td>
                        <td>
                            м.п.
                        </td>
                        <td>
                            от 250 руб.
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Доборные элементы для фальцевой и сланцевой кровли (расчитываются индивидуально для каждого проекта)
                        </td>
                        <td></td>
                        <td>
                        </td>
                    </tr>

                    <tr>
                        <td>Монтаж ступеней и мостиков безопасности на кровле
                        </td>
                        <td>
                            шт.
                        </td>
                        <td>от 1500 руб.</td>
                    </tr>

                    <tr>
                        <td>Монтаж снегостопоров</td>
                        <td>шт.</td>
                        <td>
                            от 100 руб.
                        </td>
                    </tr>

                    <tr>
                        <td>Устройство мансардных окон с каркасом подконструкции
                        </td>
                        <td>
                            шт.
                        </td>
                        <td>
                            от 10000 руб.
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Устройство москитной сетки
                        </td>
                        <td>
                            м.п.
                        </td>
                        <td>
                            от 140 руб.
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Установка проходок вентиляции
                        </td>
                        <td>
                            шт.
                        </td>
                        <td>
                            от 3000 руб.
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Установка подкровельной вытяжки (типа KTV)
                        </td>
                        <td>
                            шт.
                        </td>
                        <td>
                            от 1500 руб.
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Устройство окладок труб
                        </td>
                        <td>
                            шт.
                        </td>
                        <td>от 7500 руб.
                        </td>
                    </tr>

                    </tbody>
                    </table>

                    </div>

                </div>

                <div id="aq-block-7697-13" class="aq-block aq-block-aq_clear_block aq_span12 aq-first cf">
                    <div class="cf" style="height: 40px; background: #fff"></div>
                </div>

                <div id="aq-block-7697-14" class="aq-block aq-block-aq_end_content_block aq_span12 aq-first cf"> </div>

            </div>

        </div>

    </div>

</div>
