<div id="aq-template-wrapper-7697" class="aq-template-wrapper aq_row">

<div id="aq-block-7843-3" class="aq-block aq-block-aq_start_content_block aq_span12 aq-first cf">
  <style scoped="">.mainwrap.rand-278 #headerwrap { background: #ffffff !important; }</style>
  <div class="mainwrap rand-278 " style="background: #ffffff url() 50% 0; background-size: cover; border-top: 5px solid #eeeeee; border-bottom: 5px solid #eeeeee; padding: 0px 0 0px 0;">
    <div class="main clearfix ">
      <div class="content fullwidth">
      </div>
      <div id="aq-block-7843-4" class="aq-block aq-block-pmc_wp_breadcrumb_block aq_span12 aq-first cf">
        <div class="outerpagewrap">
          <style scoped="">.pagewrap a, .pagewrap h1, .pagewrap h1 span, .pagewrap p { color: #333333; }</style>
          <div class="pagewrap" style="">
            <div class="pagecontent">
              <div class="pagecontentContent-title">

                <h1>Цена каркасного дома: на чем экономят недобросовестные строители?</h1>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="aq-block-7843-5" class="aq-block aq-block-aq_end_content_block aq_span12 aq-first cf"> </div>
    </div>
  </div>
</div>

<div class="mainwrap single-default">
<div class="main clearfix">
<div class="content singledefult">
  <div class="postcontent singledefult" id="post-">
    <div class="blogpost">
      <div class="posttext">

        <div class="blogsingleimage">

          <img width="800" height="490" src="http://vkgdom.com/wp-content/uploads/2016/11/tsena-karkasnogo-doma-800x490.jpeg" class="attachment-blog size-blog wp-post-image" alt="Цена каркасного дома" srcset="http://vkgdom.com/wp-content/uploads/2016/11/tsena-karkasnogo-doma-800x490.jpeg 800w, http://vkgdom.com/wp-content/uploads/2016/11/tsena-karkasnogo-doma-180x110.jpeg 180w, http://vkgdom.com/wp-content/uploads/2016/11/tsena-karkasnogo-doma-400x245.jpeg 400w" sizes="(max-width: 800px) 100vw, 800px">

          <div class="meta">
            <div class="post-icon"><i class="fa fa-pencil"></i></div>									<span>Ноябрь 6, 2016</span>  <span><em><a href="http://vkgdom.com/category/tehnologii-stroitelstva/karkasnoe-stroitelstvo/">Каркасное строительство</a>, <a href="http://vkgdom.com/category/tehnologii-stroitelstva/skandinavskaya-tehnologiya/">Скандинавская технология</a>, <a href="http://vkgdom.com/category/tehnologii-stroitelstva/">Технологии строительства</a></em></span> <a href="#commentform">Комментариев нет</a>
          </div>

        </div>

        <div class="sentry">

          <div><p></p><div class="dropcap">С</div>троительство деревянных домов по каркасной технологии уверенно набирает популярность в России. Его плюсы очевидны: это и радующая глаз эстетика, и сверхкороткие сроки возведения объекта, и широкий выбор вариантов отделки, и экологичность, и долговечность, и теплосбережение, и, что самое главное, весьма демократичная цена.<br>
            &nbsp;<br>
            Зачастую именно последний аспект — стоимость — служит определяющим фактором при выборе проекта или строительной фирмы. Цена строительства каркасного дома одной и той же площади у разных застройщиков может существенно отличаться. Кому хочется переплачивать? На самом деле, все не так просто: у каркасной технологии строительства есть много важных нюансов, которые влияют на итоговую стоимость дома.<br>
            &nbsp;<br>
            <div class="pmc-quote" style="border-color:#2C9F5C;">Здесь важно понимать, на каком этапе и за счет чего экономит более «выгодный» застройщик, и чем такая экономия может обернуться в будущем для хозяев дома.</div><p></p>
            <p>&nbsp;</p>
            <h2>Недобросовестные способы минимизации затрат при закладке фундамента</h2>
            <p>&nbsp;<br>
              Самые распространенные «хитрости», к которым прибегают некоторые компании на этапе проектирования и строительства фундамента:<br>
            </p><ul class="arrow_point"><p></p>
              <ul>
                <li>предлагается более демократичный по цене тип фундамента, который согласно действующим правилами и нормам не соответствует структуре грунта и/или возлагаемой нагрузке;</li>
              </ul>
              <ul>
                <li>расчеты параметров фундамента не учитывают структуры грунта и глубины промерзания;</li>
              </ul>
              <ul>
                <li>заявленный тип фундамента имеет удешевленную версию (например, используется несоответствующий тип бетона) и вытекающие из этого недостатки.</li>
              </ul>
              <p></p></ul><p></p>
            <p></p><div class="pmc-quote" style="border-color:#2C9F5C;">Любые попытки сэкономить на технологии приводят к плачевным последствиям: трещинам в фундаменте, перекосам, проседанию дома.</div><br>
            &nbsp;<br>
            Для наглядности приведем несколько примеров.<br>
            <strong>Пример 1.</strong> Применяется несоответствующий требованиям, более дешевый тип бетона. В результате в фундаменте возникают трещины.<br>
            <strong>Пример 2.</strong> Заглубление свай не соответствует глубине промерзания. Результат — проседание дома.<br>
            <strong>Пример 3.</strong> Для каркасного дома 6х6 весом 18-25 тонн вполне достаточно свайно-винтового фундамента из 9 свай. Так как одна винтовая свая диаметром 108 мм рассчитана на вес до 8 тонн, то 9-свайное поле выдерживает максимальную нагрузку в 25 тонн с запасом прочности более чем в 2,5 раза. Но есть дополнительные требования, согласно которым опоры обязательно должны располагаться под несущими стенами и устанавливаться на расстоянии не более 3 м друг от друга, для чего потребуется еще не менее 3 свай. Если же этим правилом пренебречь, то благодаря экономии на нескольких сваях и обвязочном брусе для монтажа лаг, фундамент обойдется существенно дешевле. Да, он не провалится, так как вполне способен выдержать данную нагрузку, но полы в таком доме могут впоследствии «гулять» из-за слишком больших расстояний между опорами.<p></p>
            <p>&nbsp;</p>
            <h2>Дорогой и дешевый каркас: почему “гуляют” стены?</h2>
            <p>&nbsp;<br>
            </p><div class="dropcap">К</div>акие технологические моменты позволяют уменьшить стоимость непосредственно самого деревянного каркаса? На самом деле таковых довольно много, но мы хотим обратить внимание на 4 наиболее популярных пути минимизации цены строительства. Их используют некоторые застройщики в целях экономии, причем, не без ущерба качеству.<p></p>
            <h3>4 способа удешевить каркас и их последствия</h3>
            <ol>
              <li><strong>Недостаточная толщина стоек.</strong> Каркас — это своего рода скелет здания. Чем прочнее его «кости», тем надежнее конструкция. У нас, в компании “ЮГОС” принято работать со стойками 50х150 мм. Если для изготовления каркаса использовать доску меньших размеров (например, 25х150 или 35х140), то для возведения среднего дома ее понадобится примерно на 3 куба меньше, что по современным расценкам на материалы позволяет сэкономить до 25 тыс. руб. При этом серьезно страдает качество. Ведь в конечном итоге получается «слабый» каркас. А это более высокий риск прогнивания доски, «гуляющие» стены, ухудшение эксплуатационных характеристик дома. Кому нужна такая экономия?
              </li>
              <li><strong>Увеличенный шаг стоек.</strong> Стандартный шаг каркасных стоек, предусмотренный строительными нормативами, составляет 60 см. Увеличивая это расстояние до 80-90 см, можно значительно уменьшить количество расходного материала. Цена каркасного дома снизится, но более «жидкий» каркас не обеспечит необходимой жесткости конструкции. Из-за повышенных и неравномерно распределенных нагрузок он вряд ли простоит, сколько ему положено.</li>
              <li><strong>Использование сырых досок для каркаса.</strong> Сушка строительной доски — важный технологический этап, который требует времени и средств. Экономия на качестве доски обернется проблемами в будущем: дерево начинает гнить, появляется вредная для здоровья плесень. О какой экологии и долговечности можно в этом случае говорить?<br>
                Не соответствующие нормам крепежные элементы. Применение более дешевых саморезов, не оцинкованных гвоздей уменьшает строительные расходы. Срок службы конструкции сокращается — это и есть цена экономии на «мелочах».
              </li>
            </ol>
            <p>&nbsp;</p>
            <h2>Утеплитель и цена — где подвох?</h2>
            <p>&nbsp;<br>
              <strong>Тип утеплителя.</strong> Толщина утеплителя, согласно действующим стандартам, должна быть не менее 15 см. Соблюдая эту норму, застройщик может использовать как более дорогой, плитный утеплитель, так и рулонный, цена которого значительно ниже. Второй вариант, вполне подходящий для утепления пола, но не годится для стен, так как со временем рулонная вата «съезжает» вниз, оставляя верхние участки стен без утепления. В итоге дом становится холодным.<br>
              &nbsp;<br>
              <strong>Плотность утеплителя.</strong> Если застройщик предлагает утепление стен базальтовыми плитами по заниженной для рынка цене, обязательно следует уточнить параметры плотности утеплителя. Эффективное теплосбережение обеспечивают плиты плотностью не ниже 35 кг/м3. Некоторые современные производители выпускают базальтовый плитный утеплитель плотностью 25 кг/м3, цена которого в полтора раза дешевле. Возможно, в этом и заключается секрет “супервыгодного” предложения?<br>
            </p><div class="pmc-quote" style="border-color:#2C9F5C;">Вывод очевиден: кроме толщины утеплителя должны оговариваться не только вид, но также тип и плотность.</div><p></p>
            <p>&nbsp;</p>
            <h2>Окна и двери в доме: цена зависит от качества</h2>
            <p>&nbsp;<br>
            </p><div class="dropcap">Р</div>азброс цен на окна, входные и межкомнатные двери огромен. Например, можно установить металлическую входную дверь за 3 тыс. руб., а можно за 50 тыс. руб.. По межкомнатным дверям та же история. Понятно, что качественная дверь из хорошо высушенного дерева дешево стоить не может. То же самое можно сказать и об окнах.<br>
            &nbsp;<br>
            <div class="pmc-quote" style="border-color:#2C9F5C;">Поэтому, заключая контракт с недорогим застройщиком, будьте готовы к тому, что в вашем доме установят дешевые окна и двери соответствующего уровня качества.</div><p></p>
            <p>&nbsp;</p>
            <h2>Отделка внешняя и внутренняя: цену определяют технология и качество материалов</h2>
            <p>&nbsp;<br>
            </p><div class="dropcap">Ш</div>ирочайший выбор видов наружной отделки является одним из важных преимуществ каркасного строительства. Сайдинг, кирпич, брус, штукатурка — можно выбрать любой из вариантов, который будет соответствовать вкусу хозяина и его материальным возможностям.<br>
            &nbsp;<br>
            <div class="pmc-quote" style="border-color:#2C9F5C;">У разных застройщиков цена одинакового типа отделки может отличаться для дома одной и той же площади. И совсем не потому, что один застройщик хочет заработать больше, а другой соглашается сделать такой же объем работ за меньшие деньги. Есть нюансы, которые существенно влияют на стоимость отделочных работ.</div><br>
            &nbsp;<br>
            Так, например, цена деревянной отделки зависит от толщины древесины, степени сушки, качества прострога и т.д. На стоимость отделки сайдингом влияет то, какой именно сайдинг используется, какого производителя. Разный сайдинг — разная цена и разный срок службы.<br>
            &nbsp;<br>
            Внутренняя отделка, так же как и внешняя, у разных производителей подразумевает разные виды работ и используемых материалов и поэтому отличается по цене. Так, например, гипсокартон можно монтировать в два слоя, что технологически правильно, а можно в один. И в первом, и во втором случае этот вид работ будет называться «отделка гипсокартоном», при этом стоимость такой отделки будет разной.<p></p>
            <p>&nbsp;</p>
            <h2>Кровля: дешево, но с перекосом!</h2>
            <p>&nbsp;<br>
            </p><ul class="arrow_point"><p></p>
              <ul>
                <li>Для брусовых домов при монтаже крыши должен использоваться скользящий крепеж, который компенсирует усадку бруса. В противном случае со временем крыша из-за усадки дома может перекоситься или дать течь. Дешевая комплектация не предусматривает такого типа крепежа, поэтому некоторые строительные компании в целях экономии применяют обычный недорогой крепеж, в результате чего можно ждать неприятных последствий уже через год-два после окончания строительства.</li>
              </ul>
              <ul>
                <li>Возможна экономия на установке контробрешетки, которая служит для вентиляции пространства между непосредственно кровельным покрытием и гидроизоляцией/утеплителем. Отсутствие контробрешетки негативно сказывается на теплоизоляции и шумоизоляции мансарды, а также сокращает срок эксплуатации крыши без ремонта.</li>
              </ul>
              <ul>
                <li>Застройщик использует кровельное покрытие (металлочерепицу) меньшей толщины (0,4 мм вместо 0,5 мм). Внешне они ничем не отличаются, только срок гарантийной службы первой — 10 лет, а второй — 50. При этом цена готовой крыши дома 6х6, к примеру, из черепицы 0,4 мм выходит на 35-40 тыс. руб. дешевле, чем из 0,5 мм.</li>
              </ul>
              <ul>
                <li>Некоторые компании вместо использования цельных листов металлочерепицы, подобранных по индивидуальному размеру крыши, закупают по выгодной цене стандартные кровельные листы, а затем подгоняют их до нужного размера. Обрезка, выполненная с помощью болгарки, разрушает полимерное покрытие металлочерепицы, в результате чего через 4-5 лет кровля приобретает «облезлый» вид.</li>
              </ul>
              <ul>
                <li>Мягкая кровля имеет много параметров, влияющих на цену. Это и количество слоев, и подложка и толщина, от которых зависят эксплуатационные характеристики, прочность и долговечность крыши.</li>
              </ul>
              <p></p></ul><p></p>
            <p>&nbsp;</p>
            <h2>Технология сборки каркасных домов: заводская или хендмейд?</h2>
            <p>&nbsp;<br>
            </p><div class="dropcap">С</div>уществует два варианта сборки каркасных домов: ручная и заводская. В первом случае на место строительства привозят стандартные материалы, где и происходит их распил и сборка. Во втором случае предварительный запил элементов каркаса производится на специальном станке строго по чертежным размерам. Комплектующие подписываются, упаковываются в пленку, а строители на месте должны просто собрать их по чертежу.<br>
            &nbsp;<br>
            Благодаря минимальному участию человеческого фактора, высокой точности запила, заводская сборка имеет намного более высокое качество, чем ручная. Кроме того, она обеспечивает оптимальный расход материала. Но и стоит она, соответственно, дороже из-за необходимости использовать совсем не дешевое высокотехнологичное оборудование.<br>
            &nbsp;<br>
            <div class="pmc-quote" style="border-color:#2C9F5C;">Рассматривая множество предложений от разных строительных компаний, следует понимать, что заниженная цена зачастую служит средством привлечения клиентов, и дом от дешевого застройщика — это далеко не всегда по-настоящему выгодный вариант.<br>
              &nbsp;<br>
              Чтобы не оказаться в роли скупого, который платит дважды, не стоит руководствоваться одной лишь ценой. Важно знать, что конкретно в нее входит. Для этого не бойтесь задавать застройщику любые вопросы по материалам и технологиям, анализируйте ответы и только после этого принимайте обоснованное решение.</div><p></p>
          </div>

          <div class="post-page-links"></div>
          <div class="singleBorder"></div>
        </div>

      </div>

      <div class="share-post">
        <div class="share-post-title">
          <h3>Поделитесь статьёй</h3>
        </div>
        <div class="share-post-icon">
          <div class="socialsingle"><div class="addthis_toolbox"><div class="custom_images"><a class="addthis_button_facebook at300b" title="Facebook" href="#"><i class="fa fa-facebook"></i></a><a class="addthis_button_twitter at300b" title="Twitter" href="#"><i class="fa fa-twitter"></i></a><a class="addthis_button_pinterest_share at300b" target="_blank" title="Pinterest" href="#"><i class="fa fa-pinterest"></i></a><a class="addthis_button_email at300b" target="_blank" title="E-mail" href="#"><i class="fa fa-envelope"></i></a><a class="addthis_button_more at300b" target="_blank" title="Еще..." href="#"><i class="fa fa-plus"></i></a></div><script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f3049381724ac5b"></script><div class="atclear"></div></div></div>
        </div>
      </div>

    </div>

  </div>

  <div class="titleborderOut">
    <div class="titleborder"></div>
  </div>
  <div class="relatedtitle">
    <h3>Похожие статьи</h3>
  </div>
  <div class="related">

    <div class="one_fourth">
      <div class="image" style="background: none;"><a href="http://vkgdom.com/interer-derevyannogo-doma/%d0%b2%d1%8b%d0%b1%d0%b8%d1%80%d0%b0%d0%b5%d0%bc-%d0%bc%d0%b5%d0%b6%d0%ba%d0%be%d0%bc%d0%bd%d0%b0%d1%82%d0%bd%d1%8b%d0%b5-%d0%b4%d0%b2%d0%b5%d1%80%d0%b8/" rel="bookmark" title="Permanent Link to Выбираем межкомнатные двери для деревянного дома"><img width="180" height="110" src="http://vkgdom.com/wp-content/uploads/2016/07/257-dver-na-vhod-180x110.jpg" class="attachment-related size-related wp-post-image" alt="257-dver-na-vhod" srcset="http://vkgdom.com/wp-content/uploads/2016/07/257-dver-na-vhod-180x110.jpg 180w, http://vkgdom.com/wp-content/uploads/2016/07/257-dver-na-vhod-800x490.jpg 800w, http://vkgdom.com/wp-content/uploads/2016/07/257-dver-na-vhod-400x245.jpg 400w" sizes="(max-width: 180px) 100vw, 180px" style="display: inline;"></a></div>
      <h4><a href="http://vkgdom.com/interer-derevyannogo-doma/%d0%b2%d1%8b%d0%b1%d0%b8%d1%80%d0%b0%d0%b5%d0%bc-%d0%bc%d0%b5%d0%b6%d0%ba%d0%be%d0%bc%d0%bd%d0%b0%d1%82%d0%bd%d1%8b%d0%b5-%d0%b4%d0%b2%d0%b5%d1%80%d0%b8/" rel="bookmark" title="Permanent Link to Выбираем межкомнатные двери для деревянного дома">Выбираем межкомнатные двери для деревянного дома</a></h4>
    </div>

    <div class="one_fourth">
      <div class="image" style="background: none;"><a href="http://vkgdom.com/postroennye-nami-obekty/dom-hotkovo/" rel="bookmark" title="Permanent Link to Дом в Хотьково"><img width="180" height="110" src="http://vkgdom.com/wp-content/uploads/2016/06/14-1-180x110.jpg" class="attachment-related size-related wp-post-image" alt="Подготовка к сдаче проекта. Демонтаж лесов" srcset="http://vkgdom.com/wp-content/uploads/2016/06/14-1-180x110.jpg 180w, http://vkgdom.com/wp-content/uploads/2016/06/14-1-400x245.jpg 400w" sizes="(max-width: 180px) 100vw, 180px" style="display: inline;"></a></div>
      <h4><a href="http://vkgdom.com/postroennye-nami-obekty/dom-hotkovo/" rel="bookmark" title="Permanent Link to Дом в Хотьково">Дом в Хотьково</a></h4>
    </div>

    <div class="one_fourth">
      <div class="image" style="background: none;"><a href="http://vkgdom.com/postroennye-nami-obekty/dom-vnukovo/" rel="bookmark" title="Permanent Link to Дом во Внуково"><img width="180" height="110" src="http://vkgdom.com/wp-content/uploads/2016/06/13-3-180x110.jpg" class="attachment-related size-related wp-post-image" alt="13" srcset="http://vkgdom.com/wp-content/uploads/2016/06/13-3-180x110.jpg 180w, http://vkgdom.com/wp-content/uploads/2016/06/13-3-400x245.jpg 400w" sizes="(max-width: 180px) 100vw, 180px" style="display: inline;"></a></div>
      <h4><a href="http://vkgdom.com/postroennye-nami-obekty/dom-vnukovo/" rel="bookmark" title="Permanent Link to Дом во Внуково">Дом во Внуково</a></h4>
    </div>

    <div class="one_fourth last">
      <div class="image" style="background: none;"><a href="http://vkgdom.com/akstcii/darim-70-000-rublej-na-mebel/" rel="bookmark" title="Permanent Link to Дарим 70 000 рублей на мебель"><img width="180" height="110" src="http://vkgdom.com/wp-content/uploads/2016/11/акция-мебель-180x110.jpg" class="attachment-related size-related wp-post-image" alt="%d0%b0%d0%ba%d1%86%d0%b8%d1%8f-%d0%bc%d0%b5%d0%b1%d0%b5%d0%bb%d1%8c" srcset="http://vkgdom.com/wp-content/uploads/2016/11/акция-мебель-180x110.jpg 180w, http://vkgdom.com/wp-content/uploads/2016/11/акция-мебель-400x245.jpg 400w" sizes="(max-width: 180px) 100vw, 180px" style="display: inline;"></a></div>
      <h4><a href="http://vkgdom.com/akstcii/darim-70-000-rublej-na-mebel/" rel="bookmark" title="Permanent Link to Дарим 70 000 рублей на мебель">Дарим 70 000 рублей на мебель</a></h4>
    </div>

  </div>



  <!-- You can start editing here. -->

  <!-- If comments are open, but there are no comments. -->
  <div id="commentform">
    <div class="titleborderOut">
      <div class="titleborder"></div>
    </div>
    <h3>Оставить комментарий</h3>
    <div id="respond" class="comment-respond">
      <h3 id="reply-title" class="comment-reply-title"> <small><a rel="nofollow" id="cancel-comment-reply-link" href="/tehnologii-stroitelstva/tsena-karkasnogo-doma/#respond" style="display:none;">Отменить ответ</a></small></h3>				<form action="http://vkgdom.com/wp-comments-post.php" method="post" id="commentform" class="comment-form">
        <div><textarea id="comment" name="comment" cols="45" rows="8" tabindex="4" aria-required="true"></textarea></div><div class="commentfield"><label for="author">Ваше имя <small>(обязательно)</small></label><br><input id="author" name="author" type="text" value="" tabindex="1"></div>
        <div class="commentfield"><label for="email">Email <small>(обязательно)</small></label> <br><input id="email" name="email" type="text" value="" tabindex="2"></div>
        <div class="commentfield"><label for="url">Ваш телефон</label><br><input id="url" name="url" type="text" value="" tabindex="3"></div>
        <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Отправить"> <input type="hidden" name="comment_post_ID" value="10451" id="comment_post_ID">
          <input type="hidden" name="comment_parent" id="comment_parent" value="0">
        </p>				</form>
    </div><!-- #respond -->
  </div>

</div>

<!-- main sidebar -->
<div class="sidebar">
  <div class="widget category_posts">
    <h3>Популярные записи</h3>
    <div class="widget-line"></div>
    <div class="widgett">
      <div class="imgholder">
        <a href="/publication/1" rel="bookmark" title="Дом в Лисицино">
          <img src="http://vkgdom.com/wp-content/uploads/2016/06/16-1-90x60.jpg" alt="Дом в Лисицино">
        </a>
      </div>
      <div class="wttitle"><h4><a href="http://vkgdom.com/postroennye-nami-obekty/dom-lisicino/" rel="bookmark" title="Дом в Лисицино">Дом в Лисицино</a></h4>
      </div>
    </div>

  </div>
</div>

</div>
</div>

</div>