@{
    ViewBag.Title = "Строительная компания ЮГОС | Услуги";
}

<div id="aq-template-wrapper-7697" class="aq-template-wrapper aq_row">

    <div id="aq-block-7843-3" class="aq-block aq-block-aq_start_content_block aq_span12 aq-first cf">
        <style scoped="">
            .mainwrap.rand-329 #headerwrap {
                background: #ffffff !important;
            }
        </style>

        <div class="mainwrap rand-329      " style="background: #ffffff url() 50% 0; background-size: cover; border-top: 5px solid #eeeeee; border-bottom: 5px solid #eeeeee; padding: 0px 0 0px 0;">
            <div class="main clearfix ">
                <div class="content fullwidth">
                </div>
                <div id="aq-block-7843-4" class="aq-block aq-block-pmc_wp_breadcrumb_block aq_span12 aq-first cf">
                    <div class="outerpagewrap">
                        <style scoped="">
                            .pagewrap a, .pagewrap h1, .pagewrap h1 span, .pagewrap p {
                                color: #333333;
                            }
                        </style>
                        <div class="pagewrap" style="">
                            <div class="pagecontent">
                                <div class="pagecontentContent-title">

                                    <h1>Услуги</h1>

                                </div>


                                <div class="pagecontentContent-breadcrumb">
                                    <p><a href="/">Строительная компания ЮГОС</a> » <span>Услуги</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="aq-block-7843-5" class="aq-block aq-block-aq_end_content_block aq_span12 aq-first cf"> </div>
            </div>


        </div>
    </div>

    <div id="aq-block-7697-6" class="aq-block aq-block-aq_start_content_block aq_span12 aq-first cf">

        <style scoped="">
            .mainwrap.rand-440 #headerwrap {
                background: #fff !important;
            }
        </style>

        <div class="mainwrap rand-440      " style="background: #fff 50% 0; background-size: cover; border-top: 0px solid #fff; border-bottom: 0px solid #fff; padding: 0px 0 0px 0;">

            <div class="main clearfix ">

                <div class="content fullwidth"></div>

                <div id="aq-block-7697-7" class="aq-block aq-block-aq_clear_block aq_span12 aq-first cf">
                    <div class="cf" style="height: 40px; background: #fff"></div>
                </div>

                <div id="aq-block-7697-10" class="aq-block aq-block-aq_column_block aq_span10  cf">

                    <div id="aq-block-7697-11" class="aq-block aq-block-aq_richtext_block aq_span12 aq-first cf">
                        <h3>Расчет, продажа и монтаж кровельных материалов</h3>
                        <h5 class="viking">Предоставляем следующие виды услуг: </h5>

                        <ul class="viking">
                            <li>
                                выезд специалиста на объект для замера крыши (до 30 км от МКАД - бесплатно, свыше 30 км - по договоренности);
                            </li>

                            <li>
                                расчет необходимых кровельных материалов и аксессуаров, составление сметы;
                            </li>

                            <li>
                                продажа и доставка на объект кровельных материалов;
                            </li>

                            <li>
                                демонтаж старого кровельного покрытия и монтаж новой кровли;
                            </li>

                            <li>
                                возможность выезда специалиста для консультации по выбору кровельного материала, его эксплуатационным характеристикам и другим интересующим Вас вопросам;
                            </li>

                            <li>
                                установка мансардных окон; кровельные работы;
                            </li>

                            <li>
                                установка мансардных окон;
                            </li>

                            <li>
                                кровельные работы;
                            </li>

                            <li>
                                заключение договоров на обслуживание кровли;
                            </li>

                            <li>
                                технадзор по контролю качества работ при ременте и монтаже кровли.
                            </li>
                        </ul>

                        <div class="viking" style="font-weight: bold;">
                            Осуществляем монтаж кровли с сопутствующими аксессуарами, водосточными системами, мансардными окнами из следующих видов кровельных материалов:
                        </div>

                        <div style="padding: 15px;">
                            <div class="media">
                                <div class="pull-left">
                                    <img src="~/Content/imgaes/roof-13.jpg" style="float: left; margin: 15px;" />    
                                </div>
                                <div class="media-body">
                                    <h4 style="padding-bottom: 15px;">МОНТАЖ СТРОПИЛЬНОЙ СИСТЕМЫ</h4>
                                    <p>
                                        СТОИМОСТЬ МОНТАЖА СТРОПИЛЬНОЙ СИСТЕМЫ ОТ 300 РУБ. ЗА КВ.М
                                        Компания ЮГОС производит монтаж стропильной системы по выгодным ценам в Москве и Московской Области. Обустройство стропильной конструкции – один из главных этапов при монтаже современной крыши. Основные элементы стропильной системы – стропильные фермы и обрешетка. Стропильные фермы при правильном монтаже, образуют монолитный каркас, на который и монтируется будущая кровля. Во время монтажа стропил важен точный расчет, т.к неправильные вычисления параметров могут привести к деформации кровли и к последующему разрушению всей системы. Специалисты компании ЮГОС произведут качественный монтаж стропильной системы соблюдая все строительные нормы по приемлимой цене.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div style="padding: 15px;">
                            <div class="media">
                                <div class="pull-left">
                                    <img src="~/Content/imgaes/roof-14.jpg" style="float: left; margin: 15px;" />
                                </div>
                                <div class="media-body">
                                    <h4 style="padding-bottom: 15px;">УСТРОЙСТВО ФРОНТОННО-КАРНИЗНЫХ СВЕСОВ</h4>
                                    <p>
                                        СТОИМОСТЬ МОНТАЖА ФРОНТОННО-КАРНИЗНЫХ СВЕСОВ ОТ 200 РУБ. ЗА КВ.М
                                        Компания ЮГОС производит монтаж фронтонно-карнизных свесов по выгодным ценам в Москве и Московской Области. Для того чтобы материал свеса непосредственно не подвергался влиянию атмосферных осадков, с внутренней стороны края кровли его следует отделать (подшить). Для подшивки фронтов и свесов чаще всего используют вагонку, софиты, сайдинг, профнастил в зависимости от пожеланий клиента. Профессиональные кровельщики рекомендуют  отделывать свесы специальными софитами с перфорацией, для того чтобы не нарушать свободного проникновения воздуха в подкровельный пирог. Специалисты компании ЮГОС произведут качественный монтаж фронтонно-карнизных свесов соблюдая все строительные нормы по приемлимой цене.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div style="padding: 15px;">
                            <div class="media">
                                <div class="pull-left">
                                    <img src="~/Content/imgaes/roof-1.jpg" style="float: left; margin: 15px;" />
                                </div>
                                <div class="media-body">
                                    <h4 style="padding-bottom: 15px;">МОНТАЖ МЕТАЛЛОЧЕРЕПИЦЫ</h4>
                                    <p>
                                        СТОИМОСТЬ МОНТАЖА МЕТАЛЛОЧЕРЕПИЦЫ ОТ 250 РУБ. ЗА КВ.М
                                        Компания ЮГОС производит монтаж меллочерепицы по выгодным ценам в Москве и Московской Области. Металлочерепица – прочный материал по разумной цене, представляющий собой рифленые металлические листы покрытые качественной полимерной краской. Компания ЮГОСреализует металлочерепицу по выгодным ценам различных производителей: Grand Line (Россия) Rukki (Финляндия) WECKMANN STEELOy (Финляндия) МеталлПрофиль (Россия) Stynergy (Россия/Финляндия).
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="viking" style="font-weight: bold;">
                            Почему мы?
                        </div>

                        <ol class="viking">
                            <li>
                                В компании обученные профессиональные бригады специалистов, обладающие многолетними навыками работы с различными кровельными материалами. Наши специалисты постоянно повышают квалификацию по работе с современными кровлями.
                            </li>

                            <li>
                                Предлагаем оптимальное соотношение цены и качества. Хотя стоит помнить, КАЧЕСТВО И ПРОФЕССИОНАЛИЗМ СТОЯТ НЕ ДЕШЕВО!
                            </li>

                            <li>
                                Предоставляем гарантию на все виды работ от 2 до 7 лет, в зависимости от кровельного материала.

                            </li>

                            <li>
                                Осуществляем постоянный контроль качества на всех этапах кровельных работ.
                            </li>

                            <li>
                                Качественно выполненная работа по оптимальной цене!
                            </li>

                        </ol>
                    </div>

                </div>

                <div id="aq-block-7697-13" class="aq-block aq-block-aq_clear_block aq_span12 aq-first cf">
                    <div class="cf" style="height: 40px; background: #fff"></div>
                </div>

                <div id="aq-block-7697-14" class="aq-block aq-block-aq_end_content_block aq_span12 aq-first cf"> </div>

            </div>

        </div>

    </div>

</div>
