<!DOCTYPE html>
<html lang="ru-RU" prefix="og: http://ogp.me/ns#" class="no-js csstransforms csstransforms3d csstransitions">
<!-- start -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="google-site-verification" content="2Eby5z1t2HcD5jGmG-pRlLknqg-fk5neENM-hmxdwm0">
    <meta name="p:domain_verify" content="f630f01ce8d87dfea00c46a86ed5291b">
    <meta name="format-detection" content="telephone=no">
    <!-- set faviocn-->
    <!-- set title of the page -->
    <title>
        Строительная компания ЮГОС | Строительная компания
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/png" href="">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//s.w.org">

    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/imgaes/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/imgaes/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/imgaes/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/imgaes/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/imgaes/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/imgaes/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/imgaes/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/imgaes/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/imgaes/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/imgaes/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/imgaes/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/imgaes/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/imgaes/favicon/favicon-16x16.png">

  @*  <meta property="og:type" content="profile" />
    <meta property="profile:first_name" content="Имя" />
    <meta property="profile:last_name" content="Фамилия" />
    <meta property="profile:username" content="Ник" />
    <meta property="og:title" content="Название страницы" />
    <meta property="og:description" content="Описание" />
    <meta property="og:image" content="https://website.com/image250X250.png" />
    <meta property="og:url" content="http://www.site.com" />
    <meta property="og:site_name" content="Название сайта" />
    <meta property="og:see_also" content="http://www.website.com" />
    <meta property="fb:admins" content="Facebook_ID" />
*@
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="~/wp-content/plugins/page-builder-pmc/assets/css/aqpb-view.css" rel="stylesheet" />
    <link href="~/wp-content/plugins/page-builder-pmc/assets/css/custom-theme.css" rel="stylesheet" />
    <link href="~/wp-content/plugins/page-builder-pmc/assets/css/jquery.easy-pie-chart.css" rel="stylesheet" />
    <link href="~/wp-content/plugins/revslider/rs-plugin/css/settings.css" rel="stylesheet" />
    <link href="~/wp-content/themes/stormday-child/style.css" rel="stylesheet" />
    <link href="~/wp-content/themes/stormday/css/prettyPhoto.css" rel="stylesheet" />

    <link rel="stylesheet" id="tp-roboto-css" href="http://fonts.googleapis.com/css?family=Roboto%3A100%2C300%2C400%2C700%2C900&amp;ver=4.6.1" type="text/css" media="all">
    <link rel="stylesheet" id="googleFontbody-css" href="http://fonts.googleapis.com/css?family=Roboto" type="text/css" media="all">
    <link rel="stylesheet" id="googleFontHeading-css" href="http://fonts.googleapis.com/css?family=Roboto" type="text/css" media="all">
    <link rel="stylesheet" id="googleFontMenu-css" href="http://fonts.googleapis.com/css?family=Roboto" type="text/css" media="all">

    <link href="~/wp-content/themes/stormday/css/font-awesome.css" rel="stylesheet" />
    <link href="~/wp-content/themes/stormday-child/css/options.css" rel="stylesheet" />
    <link href="~/wp-content/themes/stormday-child/css/animate.min.css" rel="stylesheet" />
@*    <script src="~/wp-includes/js/jquery/jquery.js?ver=1.12.4"></script>*@
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1"></script>

@*    <script src="~/wp-content/plugins/page-builder-pmc/assets/js/rainyday.js?ver=1478020168"></script>*@
@*    <script src="~/wp-content/plugins/page-builder-pmc/assets/js/circles.js?ver=4.6.1"></script>*@
@*    <script src="~/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.tools.min.js?rev=4.6.0&ver=4.6.1"></script>*@
@*    <script src="~/wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.revolution.min.js?rev=4.6.0&ver=4.6.1"></script>*@

@*    <script src="~/wp-content/plugins/page-builder-pmc/assets/js/audio-player.js"></script>*@

   
@**@
@*    <script type="text/javascript">*@
@*        AudioPlayer.setup("~/wp-content/plugins/page-builder-pmc/assets/js/player.swf", {*@
@*            width: 800, animation: "no", bg: "2a2b2c", leftbg: "1e1e20", rightbg: "1e1e20", volslider: "2C9F5C", voltrack: "ffffff", lefticon: "ffffff", righticon: "ffffff", skip: "ffffff", loader: "2C9F5C",*@
@*            righticonhover: "ffffff", rightbghover: "2C9F5C", text: "1e1e20", border: "1e1e20"*@
@*        });</script>*@

</head>
<!-- start body -->
<body class="home page page-id-7643 page-template page-template-template-page_builder page-template-template-page_builder-php">

    <!-- start header -->
    <!-- fixed menu -->

    <div class="pagenav fixedmenu" style="display: none;">
        <div class="holder-fixedmenu">
          <div class="logo-fixedmenu">

            <a href="/"><img src="~/Content/imgaes/logo-hor.png" alt="ЮГОС | Строительная компания - "></a>

          </div>

            <div class="menu-fixedmenu home">
                <ul id="menu-home-page" class="menu">
                    <li id="menu-item-611-9861" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Наши проекты</a></li>
                    <li id="menu-item-7805-10154" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="#">Истории строительства</a></li>
                   @* <li id="menu-item-8786-9920" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Блог</a></li>*@
                    <li id="menu-item-5568-9836" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/contact">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="usercontent">
    <div id="aq-template-wrapper-9726" class="aq-template-wrapper aq_row">

    <div id="aq-block-9726-2" class="aq-block aq-block-aq_menu_block aq_span12 aq-first cf">
        <style scoped="">
            #header ul.menu > li > a {
                padding-bottom: 30px;
            }

            #logo {
                margin-top: 19px;
            }

            #header .mainmenu ul.menu {
                padding-top: 30px;
            }

            .smallheader #headerwrap #header ul.menu > li {
                border-right: 1px solid #3d3d3d;
            }

            #header ul.menu > li:last-child {
                border: none !important;
            }

            .pagenav {
                text-align: right !important;
            }
        </style>
        <header>
            <div id="headerwrap" class="  ">
                <!-- logo and main menu -->
                <div id="header">

                    <div id="logo">
                      <a href="/">
                        <img src="~/Content/imgaes/logo-hor.png" alt="ЮГОС | Строительная компания - ">
                      </a>
                      <p style="color: #fff; background-color: green; padding: 0px 5px; border-radius: 2px;">Строительная компания</p>
                    </div>
                    <!-- respoonsive menu main-->
                    <!-- respoonsive menu no scrool bar -->
                    <div class="respMenu noscroll">
                        <div class="resp_menu_button">
                            <i class="fa fa-list-ul fa-2x"></i>
                        </div>
                        <div class="menu-home-page-container">
                            <div class="event-type-selector-dropdown">
                                <a class="menu-item menu-item-type-post_type menu-item-object-page" href="/"><strong>Наши проекты</strong></a><br>
                                <a class="menu-item menu-item-type-post_type menu-item-object-page" href="/services"><strong>Услуги</strong></a><br>
                                <a class="menu-item menu-item-type-post_type menu-item-object-page" href="/price"><strong>Прайс-лист</strong></a><br>
                                <a class="menu-item menu-item-type-taxonomy menu-item-object-category" href="/History"><strong>Истории строительства</strong></a><br>
                               @* <a class="menu-item menu-item-type-post_type menu-item-object-page" href="/"><strong>Блог</strong></a><br>*@
                                <a class="menu-item menu-item-type-post_type menu-item-object-page" href="/about"><strong>О компании</strong></a><br>
                                <a class="menu-item menu-item-type-post_type menu-item-object-page" href="/contact"><strong>Контакты</strong></a><br>
                                
                            </div>
                        </div>
                    </div>
                    <!-- main menu -->
                    <div class="pagenav home mainmenu   menu-right  menu-right-float">
                        <ul id="menu-home-page-2" class="menu">
                            <li id="menu-item-3652-9861" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/" class="important_color">Наши проекты</a></li>
                            <li id="menu-item-3652-9861" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/services">Услуги</a></li>
                            <li id="menu-item-3652-9861" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/price">Прайс-лист</a></li>
                            <li id="menu-item-238-10154" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="/History">Истории строительства</a></li>
                          @*  <li id="menu-item-3201-9920" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/">Блог</a></li>*@
                            <li id="menu-item-2528-9836" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/about">О компании</a></li>
                            <li id="menu-item-2528-9836" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/contact">Контакты</a></li>
                            
                        </ul>
                    </div>

                </div>
            </div>
        </header>
    </div>

    </div>

        @RenderBody()
    </div>

    <div class="totop" style="display: none;">
        <div class="gototop">
            <div class="arrowgototop"></div>
        </div>
    </div>
    <!-- footer-->

<footer>
    <div id="footer">
        <div id="aq-template-wrapper-8848" class="aq-template-wrapper aq_row">
            <div id="aq-block-8848-1" class="aq-block aq-block-aq_start_content_block aq_span12 aq-first cf">
                <style scoped="">
                    .mainwrap.rand-995 #headerwrap {
                        background: #1b1b1b !important;
                    }
                </style>
                <div class="mainwrap rand-995      " style="background: #1b1b1b url() 50% 0; background-size: cover; border-top: 0px solid #222222; border-bottom: 0px solid #222222; padding: 0px 0 0px 0;">
                    <div class="main clearfix ">
                        <div class="content fullwidth">
                        </div>
                        <div id="aq-block-8848-2" class="aq-block aq-block-aq_clear_block aq_span12 aq-first cf">
                            <div class="cf" style="height: 70px; background: #1b1b1b"></div>
                        </div>
                        <div id="aq-block-8848-3" class="aq-block aq-block-aq_widgets_block aq_span3 aq-first cf">
                            <script type="text/javascript">
                                jQuery(document).ready(function() {
                                    jQuery('.aq-block-aq_widgets_block .widget div').css('color', '#fff !important');
                                });
                            </script>
                            <div class="block-widget">
                                <div class="widget widget_text">
                                    <h3>Наши партнеры</h3>
                                    <div class="textwidget">
                                        <ul class="flex-container">
                                            <li class="flex-item"><a href="http://www.rb-ohrana.ru/?utm_campaign=partner_skyugos" target="_blank"> <img src="~/Content/imgaes/rekom.jpg" class=""></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="aq-block-8848-4" class="aq-block aq-block-aq_widgets_block aq_span3  cf">
                            <script type="text/javascript">
                                jQuery(document).ready(function() {
                                    jQuery('.aq-block-aq_widgets_block .widget div').css('color', '#fff !important');
                                });
                            </script>
                            <div class="block-widget">
                            </div>
                        </div>
                        <div id="aq-block-8848-5" class="aq-block aq-block-aq_widgets_block aq_span3  cf">
                            <script type="text/javascript">
                                jQuery(document).ready(function() {
                                    jQuery('.aq-block-aq_widgets_block .widget div').css('color', '#fff !important');
                                });
                            </script>
                            <div class="block-widget">
                                <div class="widget widget_text">
                                    <h3>О нас</h3>
                                    <div class="textwidget">
                                        Строительная компания ЮГОС - строим дома Вашей мечты по скандинавской технологии
                                        <br><br>

                                        <i class="fa fa-phone"></i> 8 (499) 390 29 88<br>
                                        <i class="fa fa-mobile"></i> 8 (968) 968 66 56<br>
                                        <i class="fa fa-envelope"></i> info@skyugos.ru<br>
                                        <i class="fa fa-home"></i> WWW.SKYUGOS.RU
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="aq-block-8848-6" class="aq-block aq-block-aq_widgets_block aq_span3  cf">
                            <script type="text/javascript">
                                jQuery(document).ready(function() {
                                    jQuery('.aq-block-aq_widgets_block .widget div').css('color', '#fff !important');
                                });
                            </script>
                            <div class="block-widget">
                                <div class="widget recent_posts">
                                    <h3>Последние записи</h3>


                                    <div class="widgett">
                                        <div class="imgholder">
                                            <a href="#" rel="bookmark" title="Отзыв — Виктор и Марина">
                                                <img src="~/Content/imgaes/video-bg-1-90x60.jpg" alt="Отзыв — Виктор и Марина">
                                            </a>
                                        </div>
                                        <div class="wttitle">
                                            <h4><a href="#" rel="bookmark" title="Отзыв — Виктор и Марина">Отзыв — Виктор и Марина</a></h4>
                                        </div>
                                    </div>


                                    <div class="widgett">
                                        <div class="imgholder">
                                            <a href="" rel="bookmark" title="Как выбрать мебель для деревянного дома">
                                                <img src="~/Content/imgaes/derevyannaya_mebel-90x60.jpg" alt="Как выбрать мебель для деревянного дома">
                                            </a>
                                        </div>
                                        <div class="wttitle">
                                            <h4><a href="#" rel="bookmark" title="Как выбрать мебель для деревянного дома">Как выбрать мебель для деревянного дома</a></h4>
                                        </div>
                                    </div>




                                </div>
                            </div>
                        </div>
                        <div id="aq-block-8848-7" class="aq-block aq-block-aq_end_content_block aq_span12 aq-first cf"> </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- footer bar at the bootom-->
    <div id="footerbwrap">
        <div id="footerb">
            <div class="lowerfooter">
                <div class="copyright">
                    @*  <div class="lower-footer-logo">
                            <img src="~/Content/imgaes/logo-white.png" width="120">
                        </div>*@

                    2016 <a href="/">ЮГОС | Строительная компания</a>
                </div>
            </div>
        </div>
    </div>
</footer>
    
    <script type="text/javascript" src="~/wp-content/plugins/page-builder-pmc/assets/js/aqpb-view.js?ver=1478020168"></script>
@*    <script type="text/javascript" src="~/wp-content/plugins/page-builder-pmc/assets/js/pmc_infinity.js?ver=1478020168"></script>*@
@*    <script type="text/javascript" src="~/wp-includes/js/comment-reply.min.js?ver=4.6.1"></script>*@
@*    <script type="text/javascript" src="~/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20"></script>*@
@*    <script type="text/javascript" src="~/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4"></script>*@
    <script type="text/javascript" src="~/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4"></script>
    <script type="text/javascript" src="~/wp-includes/js/jquery/ui/tabs.min.js?ver=1.11.4"></script>
@*    <script type="text/javascript" src="~/wp-includes/js/jquery/ui/accordion.min.js?ver=1.11.4"></script>*@
    <script type="text/javascript" src="~/wp-includes/js/jquery/ui/progressbar.min.js?ver=1.11.4"></script>
@*    <script type="text/javascript" src="~/wp-content/themes/stormday/js/smoothScroll.js?ver=1"></script>*@
    <script type="text/javascript" src="~/wp-content/themes/stormday/js/jquery.fitvids.js?ver=1"></script>
@*    <script type="text/javascript" src="~/wp-content/themes/stormday/js/jquery.scrollTo.js?ver=1"></script>*@
@*    <script type="text/javascript" src="~/wp-content/themes/stormday/js/retina.min.js?ver=1"></script>*@
    <script type="text/javascript" src="~/wp-content/themes/stormday/js/jquery.parallax.js?ver=1"></script>
    <script type="text/javascript" src="~/wp-content/themes/stormday/js/custom.js?ver=1"></script>
@*    <script type="text/javascript" src="~/wp-content/themes/stormday/js/jquery.prettyPhoto.js?ver=1"></script>*@
@*    <script type="text/javascript" src="~/wp-content/themes/stormday/js/jquery.easing.1.3.js?ver=1"></script>*@
@*    <script type="text/javascript" src="~/wp-content/themes/stormday/js/jquery.cycle.all.min.js?ver=1"></script>*@
@*    <script type="text/javascript" src="~/wp-content/themes/stormday/js/gistfile_pmc.js?ver=1"></script>*@
@*    <script type="text/javascript" src="~/wp-content/themes/stormday/js/jquery.bxslider.js?ver=1"></script>*@
@*    <script type="text/javascript" src="~/wp-includes/js/wp-embed.min.js?ver=4.6.1"></script>*@
@*<script type="text/javascript" src="~/wp-content/plugins/page-builder-pmc/assets/js/jquery.isotope.min.js?ver=1"></script>*@

    @Html.Partial("~/Views/Shared/Controls/Counters/GoogleAnalytics.cshtml")

</body>
</html>
